<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>递归.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1561D4E91F3D4068005D82C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1561D4FD1F3D4069005D82C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1561D5081F3D4069005D82C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
